#Costa Rica Women's National Team Caps

##### by : Ana De Souza

In [ ]:
import pandas as pd

from google.colab import files 
from google.colab import drive

from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1oOt2zBHipo0QkKAEZgFVwcVhibWomQwYWDh73cGZ-aE/edit#gid=1416931910')

In [ ]:
#Open Matches Data Frame
sheet = wb.worksheet('CRC_Matches')
data = sheet.get_all_values()
df = pd.DataFrame(data)
df.columns = df.iloc[0]
matches = df.iloc[1:]
matches.set_index ("Rival", inplace = True)

matches.head()

,Year,Date,GF,GA,GD,KFTM,Result,Location,Stadium,Kind,Goal_Scorers,Line_Up,Coach,Penalty_Takers,Notes
Rival,,,,,,,,,,,,,,,
CAN,1991,4/16/1991,0,6,-6,,L,,,WCQ,0,"Maria Eugenia Fernandez, Nuria Zuñiga, Maria E...",Guillermo Soto,,
HAI,1991,4/19/1991,0,4,-4,,L,,,WCQ,0,"Maria Eugenia Fernandez, Nuria Zuñiga, Maria E...",Guillermo Soto,,
JAM,1991,4/21/1991,2,1,1,,W,,,WCQ,"Karla Alemán(1), Maritza Álvarez (1)",Margaret Pinnolk (Maria Eugenia Fernandez 38')...,Guillermo Soto,,
GUA,1998,7/19/1998,17,0,17,,W,,,FRW,"Cynthia Mora (5), Karla Alemán (4), Xinia Cont...",,Didier Castro Ramires,,
HAI,1998,7/21/1998,0,2,-2,,L,,,FRW,0,,Didier Castro Ramires,,

In [ ]:
#Check for dtypes
matches.dtypes

0
Year              object
Date              object
GF                object
GA                object
GD                object
KFTM              object
Result            object
Location          object
Stadium           object
Kind              object
Goal_Scorers      object
Line_Up           object
Coach             object
Penalty_Takers    object
Notes             object
dtype: object

In [ ]:
#Convert dtypes to float
matches['GF'] = matches['GF'].astype(float)
matches['GA'] = matches['GA'].astype(float)
matches['GD'] = matches['GD'].astype(float)
matches['Year'] = matches['Year'].astype(float)

<ipython-input-4-9b9ec1d781d1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches['GF'] = matches['GF'].astype(float)
<ipython-input-4-9b9ec1d781d1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches['GA'] = matches['GA'].astype(float)
<ipython-input-4-9b9ec1d781d1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches['GD'] = matches['GD'].astype(float)
<ipython-input-4-9b9ec1d781d1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches['Year'] = matches['Year'].astype(float)

In [ ]:
matches['GA'] = matches['GA'].astype(int)
matches['GF'] = matches['GF'].astype(int)
matches['GA'] = matches['GA'].astype(int)
matches['GD'] = matches['GD'].astype(int)
matches['Year'] = matches['Year'].astype(int)

<ipython-input-5-4ea5288d8250>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches['GA'] = matches['GA'].astype(int)
<ipython-input-5-4ea5288d8250>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches['GF'] = matches['GF'].astype(int)
<ipython-input-5-4ea5288d8250>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches['GA'] = matches['GA'].astype(int)
<ipython-input-5-4ea5288d8250>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches['GD'] = matches['GD'].astype(int)
<ipython-input-5-4ea5288d8250>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches['Year'] = matches['Year'].astype(int)

In [ ]:
#Check for dtypes
matches.dtypes

0
Year               int64
Date              object
GF                 int64
GA                 int64
GD                 int64
KFTM              object
Result            object
Location          object
Stadium           object
Kind              object
Goal_Scorers      object
Line_Up           object
Coach             object
Penalty_Takers    object
Notes             object
dtype: object

In [ ]:
def count_matches_by_name(names_list, matches_df):
    results_dict = {}
    for name in names_list:
        count = matches_df['Line_Up'].str.contains(name).sum()
        results_dict[name] = count
    return results_dict

In [ ]:
# Define the list of names to count
names_list = ['Emilie Valenciano','Alexandra Pinell','Gloriana Villalobos','Melissa Herrera','Gabriela Guillen','Noelia Bermudez','Daniela Solera','Fabiola Villalobos','Carolina Venegas','Priscilla Chinchilla','Wendy Acosta']

# Call the count_matches_by_name function to count the number of times each name appears
results_dict = count_matches_by_name(names_list, matches)

# Convert the results_dict to a DataFrame
caps_df = pd.DataFrame.from_dict(results_dict, orient='index', columns=['Caps'])

# Print the resulting DataFrame
caps_df.sort_values('Caps', ascending=False)

                      Caps
Melissa Herrera         91
Gabriela Guillen        76
Wendy Acosta            76
Carolina Venegas        73
Gloriana Villalobos     70
Priscilla Chinchilla    45
Fabiola Villalobos      35
Noelia Bermudez         32
Daniela Solera          22
Emilie Valenciano       12
Alexandra Pinell         5